services:
  postgres:
    image: 'postgres:15'
    environment:
      - 'POSTGRES_DB=store'
      - 'POSTGRES_PASSWORD=pas123'
      - 'POSTGRES_USER=user'
    ports:
      - '5432:5432'
  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'